


#topright
{
	background: #9D55F71A;

}

#ic
{
	margin: 3px;
}

#second

{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 128px;
}

body,html
{
	overflow-x: hidden;
}


input
{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    outline: none;
}

::placeholder {

	font-size: 24px;
	font-weight: 400;
	line-height: 29.05px;
}

.imclass
{
	margin: 0 auto;
    width: fit-content;
    display: flex;
}

button
{
	width: 15%;
    border-radius: 8px ! important;
    font-weight: 600 ! important;
}

.progress
{
	font-weight: bold;
	height: 26px;
}

h4
{
	font-size: 42px;
}

p

{
	font-size: 40px;
}

.fp
{
	font-size: unset;
}

#imgc
 
 {
 	text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 235px;
 }

 .form-check-input
 {
 	width: unset;
 }

 .form-check-label
  {
  	font-size: 15px;
    font-weight: 500;
  }
@media only screen and (max-width: 600px) {

	.baner
	{
		width: 100% !important;
	}
  
   #phnimg
   {
   	width: 100%;
   }

   #sqr
   {
   	 margin-top: 0px ! important;
   }

   #sqrimg
   {
   	margin-top: 25px ! important;
   }

   button
   {
   	width: 23% ! important;
   }

   input
   {
   	width: 100%;
   }

   p
   {
    font-size:25px;
   }

   #imgc
   {
   	 bottom: 89px ! important;
   
   }

   .pc
   {
margin-top: -30px ! important;
    font-size: 14px ! important;
    font-weight: 500 ! important;
   }

   .pc1
   {
   	font-size: 21px ! important;
   }
}

@media only screen and (max-width: 1024px) {

	#imgc
	{
		bottom: 202px;
	}

	}


@media only screen and (max-width: 768px) {

	#imgc
	{
		bottom: 154px;
	}

	}	


@media only screen and (max-width: 379px) {

	#imgc
	{
		bottom: 77px ! important;
	
	}

	.pc
   {
        font-size: 12px ! important;
 }

 .pc1
   {
        font-size: 17px ! important;
 }
	}		


@media only screen and (max-width: 360px) {

	.pc
   {
        font-size: 10px ! important;
 }

 .pc1
   {
        font-size: 14px ! important;
 }

	#imgc
	{
		bottom: 65px ! important;

	}

	}		
